[BASIC]
good-names =
disable =
    invalid-name,
    missing-module-docstring,
    comparison-of-constants,
    duplicate-value,
ignore-paths =
    temp,
extension-pkg-whitelist=
    pydantic,
    orjson,